---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import JsonViewer from "../components/JsonViewer";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import json from "../data/me.json";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main style="height: 100vh; width: 100vw; overflow: auto;">

            <!-- <h1>👨‍💻 Welcome to My Developer Portfolio!</h1>
            <p>
                Hello! I am a passionate developer with over 5 years of experience in building robust and scalable web applications. I am eager to build innovative solutions and continuously improve my skills.
            </p>
            <p>
                My expertise includes working with technologies such as Node.js, React, Express, PostgreSQL, MySQL, Redis, and queue-based services like RabbitMQ. I also have experience with ElasticSearch and DynamoDB.
            </p>
            <p>Here are a few highlights of my work:</p>
            <ul>
                <li>Developed and maintained high-performance web applications using Node.js and React.</li>
                <li>Implemented efficient data storage solutions with PostgreSQL, MySQL, and Redis.</li>
                <li>Designed and managed queue-based services with RabbitMQ for asynchronous processing.</li>
                <li>Utilized ElasticSearch for advanced search capabilities and DynamoDB for scalable NoSQL databases.</li>
            </ul>
            <p>
                Currently, I am exploring the exciting world of Large Language Models (LLMs) and working with tools like LangChain, LamaIndex, and Retrieval-Augmented Generation (RAG).
            </p>
            <p>Additionally, I have created a few npm packages:</p>
            <ul>
                <li><a href="https://www.npmjs.com/package/slack-form">Slack Form </a>: A package to easily create and manage Slack forms.</li>
                <li><a href="https://www.npmjs.com/package/fake-api-mocker">Fake API mocker</a>: A package to mock APIs for testing and development purposes.</li>
            </ul>
            <p>
                I am always looking for new challenges and opportunities to grow. Feel free to explore my projects and get in touch if you have any questions or collaboration ideas.
            </p> -->

            <JsonViewer data={json} client:load client:only />
            <!-- ... rest of your content ... -->
        </main>
        <Footer />
    </body>
</html>
