---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h1>👨‍💻 Welcome to My Developer Portfolio!</h1>
            <p>
                Hello! I am a passionate developer with over 5 years of experience in building robust and scalable web applications. I am eager to build innovative solutions and continuously improve my skills.
            </p>
            <p>
                My expertise includes working with technologies such as Node.js, React, Express, PostgreSQL, MySQL, Redis, and queue-based services like RabbitMQ. I also have experience with ElasticSearch and DynamoDB.
            </p>
            <p>Here are a few highlights of my work:</p>
            <ul>
                <li>Developed and maintained high-performance web applications using Node.js and React.</li>
                <li>Implemented efficient data storage solutions with PostgreSQL, MySQL, and Redis.</li>
                <li>Designed and managed queue-based services with RabbitMQ for asynchronous processing.</li>
                <li>Utilized ElasticSearch for advanced search capabilities and DynamoDB for scalable NoSQL databases.</li>
            </ul>
            <p>
                I am always looking for new challenges and opportunities to grow. Feel free to explore my projects and get in touch if you have any questions or collaboration ideas.
            </p>
            <p>
                Have fun exploring my portfolio! If you get stuck, remember to <a href="https://docs.astro.build/">read the docs</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
            </p>
        </main>
        <Footer />
    </body>
</html>